<div class="welcome-message">
  <h1>
    Welcome to our library!</h1>
  <p>We are pleased to offer you a wide selection of books on various topics and genres. Here you will find both classical works and novelties of modern literature.</p>
</div>